extends ../email-template

block emailTitle
  span New collaborator added to project "#{containerTitle || 'Untitled Project'}"

block emailText
  if invitingUser
    if role == 'viewer'
      p #[span(class='user-name') #{invitingUser.name}] has added #[span(class='user-name') #{invitedUser.name}] with view access to project #[a(href=actionURL) "#{containerTitle}"] at #{frontendAppHostname}.
    else
      p #[span(class='user-name') #{invitingUser.name}] has added #[span(class='user-name') #{invitedUser.name}] as a collaborator on project #[a(href=actionURL) "#{containerTitle}"] at #{frontendAppHostname}.
  else
    if role == 'viewer'
      p #[span(class='user-name') #{invitedUser.name}] has been added with view access to project #[a(href=actionURL) "#{containerTitle || 'Untitled Project'}"] at #{frontendAppHostname}.
    else
      p #[span(class='user-name') #{invitedUser.name}] has been added as a collaborator on project #[a(href=actionURL) "#{containerTitle || 'Untitled Project'}"] at #{frontendAppHostname}.

block emailAction
  a(href=actionURL, title="Open project" target="_blank", style="font-size: 16px; font-family: Lato, Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; border-radius: 4px; padding: 8px 32px; border: 1px solid #0d79d0; display: inline-block;").btn-radius Open project
